/* Apply style to all elements on page -- Le Hoang Huynh editor --*/
*{
    margin: 0; /* Remove all default spacing outside*/
    padding: 0; /* Remove all default spacing inside*/
    scroll-behavior: smooth;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; /* font mulish */
}
/* Apply font -- Le Hoang Huynh editor --*/
.mulish{ 
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* background -- Timothy editor --*/
body{
    background-color: rgb(255, 255, 255);

}
/* Enrico editor --*/
ul{
    list-style: none; /* remove the dot in front */
}

/* navbar Timothy editor --*/
.nav_bar_custom{
    top: 0;
    z-index: 1000;
}

/* line on the goal page Le Hoang Huynh editor --*/
.line{
    width: 50px;
    height: 5px;
}
.col-md-2 {
	width:140px;
	height:120px;
}
